
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.harvard--crimson {
  color: #c90016 !important;
}

.selectivity--pink {
  color: #EC4353 !important;
}

.active--pink .active,
.active--pink .irs-bar,
.active--pink .irs-bar-edge,
.active--pink .irs-slider,
.active--pink .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ec4353 !important;
  border-color: #ec4353 !important;
}

.similarity--green {
  color: #00AC9F !important;
}

.similarity--green.btn {
  background-color: #00ac9f !important;
  color: white !important;
}

.active--green .active,
.active--green .irs-bar,
.active--green .irs-bar-edge,
.active--green .irs-slider,
.active--green .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00ac9f !important;
  border-color: #00ac9f !important;
}

.library--orange {
  color: #ff9800 !important;
}

.active--orange .active,
.active--orange .irs-bar,
.active--orange .irs-bar-edge,
.active--orange .irs-slider,
.active--orange .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff9800 !important;
  border-color: #ff9800 !important;
}

.bg-orange {
  background-color: #ff9800 !important;
}

.navbar .nav-link {
  color: white !important;
  border-radius: 0 !important;
}


.navbar .active {
  background-color: #c90016 !important;
}


a[data-target] {
  cursor: pointer;
}

/* Fix display of selectize input labels without text */
.shiny-label-null {
  display: inline;
}

/* CSS for compound selector */
.compound-result {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.compound-source {
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  vertical-align: middle;
}

.chembl-source {
  background-color: rgb(9, 151, 155);
  color: rgb(255, 255, 255);
}

.hmsl-source {
  background-color: rgb(255, 205, 20);
}

.vendor-source {
  background-color: rgb(255, 149, 99);
}

.source-logo {
  height: 1em;
}

/* CSS for target selector */
.target-result {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.target-source {
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  vertical-align: middle;
}

.target-source-symbol {
  background-color: rgb(9, 151, 155);
  color: rgb(255, 255, 255);
}

.target-source-gene-id {
  background-color: rgb(255, 205, 20);
}

/* Make table padding tighter */
table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

table.dataTable thead th {
  padding: 8px 10px;
  padding-right: 18px;
}

/* Hover shadows for application links */
#link_selectivity:hover {
  filter: drop-shadow(0 0 0.5rem #EC4353);
}

#link_similarity:hover {
  filter: drop-shadow(0 0 0.5rem #00AC9F);
}

#link_library:hover {
  filter: drop-shadow(0 0 0.5rem #ff9800);
}

.contains-tooltip {
}

/* Fix height of selectize inputs */
.selectize-control .selectize-input {
  height: 100%;
}


/* Missing shiny notification css */

.shiny-progress-container {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2000
}

.shiny-progress .progress {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 3px;
    margin: 0px
}

.shiny-progress .bar {
    opacity: 0.6;
    transition-duration: 250ms
}

.shiny-progress .progress-text {
    position: absolute;
    right: 10px;
    width: 240px;
    background-color: #eef8ff;
    margin: 0px;
    padding: 2px 3px;
    opacity: 0.85
}

.shiny-progress .progress-text .progress-message {
    padding: 0px 3px;
    font-weight: bold;
    font-size: 90%
}

.shiny-progress .progress-text .progress-detail {
    padding: 0px 3px;
    font-size: 80%
}

.shiny-progress-notification .progress {
    margin-bottom: 5px;
    height: 10px
}

.shiny-progress-notification .progress-text .progress-message {
    font-weight: bold;
    font-size: 90%
}

.shiny-progress-notification .progress-text .progress-detail {
    font-size: 80%
}

#shiny-notification-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    width: 250px;
    z-index: 99999;
    transform: translate(-50%, -50%);
}

.shiny-notification {
    background-color: #e8e8e8;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    opacity: 0.85;
    padding: 10px 8px 10px 10px;
    margin: 2px
}

.shiny-notification-message {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1
}

.shiny-notification-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc
}

.shiny-notification-error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1
}

.shiny-notification-close {
    float: right;
    font-weight: bold;
    font-size: 18px;
    bottom: 9px;
    position: relative;
    padding-left: 4px;
    color: #444;
    cursor: default
}

.shiny-notification-close:hover {
    color: #000
}

.shiny-notification-content-action a {
    color: #337ab7;
    text-decoration: underline;
    font-weight: bold
}

